* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    
}
body{
    font-family: sans-serif;
    background-color: black;
    width: 100%;
    min-height: 100vh;
}
nav{
    background-color: #150050;
    height: 80px;
    width: 100%;
    border: solid 3px white;
    border-top: none;
    border-left: none;
    border-right: none;
}

nav ul {
    float: right;
    margin-right: 20px;

}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active, a:hover{
    background: #3F0071;
    transition: .5s;
}
.checkbtn{
    font-size: 40px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
    main h1{
        
            color: white;
            width: 40vw;
            font-size: 20px;
            margin-top: 3vh;
            font-weight: bold;
            text-align: center;
    }

}

@media (max-width: 858px){
    nav .logo{
        color: white;
        float: left;
    font-size: 18px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    }
    .checkbtn {
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #3F0071;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 1;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
        z-index: 1;
    }
    nav ul li a{
        font-size: 20px;
        z-index: 1;
    }
    a:active, a:hover{
        background-color: none;
        color: #270082;
    }
    #check:checked ~ ul{
        left: 0;
    }
    main h1{
        color: white;
        width: 40vw;
        font-size: 10px;
        margin-top: 3vh;
        font-weight: bold;
        text-align: center;
    }
    main p{
    
            color: white;
            width: 40vw;
            font-size: 10px;
            text-align: center;
            font-family: sans-serif;
        
        }
        
        main .teamo2{
            background-image: linear-gradient(#3f0071, purple);
            position: absolute;
            width: 50vw;
            height: 13vh;
            margin-left: -5vw;
            top: 5vh;
        }
        main h2{
            text-align: center;
            font-size: 17px;
            color: white;
            margin-top: 5.5vh;
        }
        main video{
            
                width: 50vw;
                float: left;
                margin-left: -vw;
                height: 70vh;
                margin-top: 0;
            
        }
    }

h1{
    color: white;
    width: 38vw;
    font-size: 20px;
    margin-top: 3vh;
    font-weight: bold;
    text-align: center;
   
}

.lateral1{
    background-color: ;
    width: 50vw;
    height: 100vh;
   
}
p{
    color: white;
    width: 38vw;
    font-size: 17px;
    text-align: center;

}
.teamo{
    
    width: 50vw;
    height: 100vh;
    margin-left: 50vw;
    position: absolute;
    top: 80px;
    z-index: 0;
}
.teamo2{
    background-image: linear-gradient(#3f0071, purple);
    position: absolute;
    width: 30vw;
    height: 15vh;
    margin-left: 11vw;
    top: 1vh;
    
}
h2{
    text-align: center;
    color: white;
    margin-top: 5.5vh;
}
video{
    width: 30vw;
    height: 70vh;
    margin-top: 6vh;
}
